<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>奥运动</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link href="css/style.css" type="text/css" media="screen" rel="stylesheet" />
	<link href="font/iconfont.css" type="text/css" media="screen" rel="stylesheet" />
	<script src="js/laydate/laydate.js"></script>
	<script src="js/jquery-2.1.3.min.js"></script>
</head>
<body>
<div class="topper">
	<div class="topper_l">
		奥运动管理员平台
	</div>
	<div class="topper_r">
		<a href="javascript:;">上次登录</a>
		<a href="javascript:;">退出登录</a>
	</div>
</div>
<div class="content">
	<ul class="con_left">
		<li class="menulist0"></li>
        <li class="menulist1"></li>
        <li class="menulist hover">
        	<img src="img/pencil.png" class="menuimg">
            <a href="javascript:;" class="menutxt">系统概览</a>
        </li>
        <li class="menulist">
        	<div class="menu_msg hover">
	        	<img src="img/xia.png" class="menuimg_x">
	        	<img src="img/you.png" class="menuimg_y">
	            <a href="javascript:;" class="menutxt">核心系统</a>
	        </div>
            <ul class="menulist_u">
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">广告管理</a>
            	</li>
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">运动品类</a>
            	</li>
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">商家管理</a>
            	</li>
            </ul>
        </li>
        <li class="menulist">
        	<div class="menu_msg hover">
	        	<img src="img/xia.png" class="menuimg_x">
	        	<img src="img/you.png" class="menuimg_y">
	            <a href="javascript:;" class="menutxt">订单查询</a>
            </div>
            <ul class="menulist_u">
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">所有订单</a>
            	</li>
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">按商家</a>
            	</li>
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">按用户</a>
            	</li>
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">订单详情</a>
            	</li>
            </ul>
        </li>
        <li class="menulist hover">
        	<img src="img/pencil.png" class="menuimg">
            <a href="javascript:;" class="menutxt">财务对账</a>
        </li>
        <li class="menulist">
        	<div class="menu_msg hover">
	        	<img src="img/xia.png" class="menuimg_x">
	        	<img src="img/you.png" class="menuimg_y">
	            <a href="javascript:;" class="menutxt">服务中心</a>
	        </div>
            <ul class="menulist_u">
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">商家反馈</a>
            	</li>
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">用户投诉</a>
            	</li>
            	<li class="hover">
		        	<img src="img/you.png" class="menuimg">
		            <a href="javascript:;" class="menutxt">公告</a>
            	</li>
            </ul>
        </li>
        <li class="menulist hover">
        	<img src="img/pencil.png" class="menuimg">
            <a href="javascript:;" class="menutxt">评价审核</a>
        </li>
    </ul>
    <!-- 系统概览 -->
    <div class="con_right" style="display: none;">
    	<div class="con_rightbox">
	    	<h1 class="in_title">今日订单概览</h1>
			<div class="in_box">
				<div class="in_item">
					<u class="in_item_u">565</u>
					<p class="in_item_p">下单数量</p>
				</div>
				<div class="in_item">
					<u class="in_item_u">332</u>
					<p class="in_item_p">核销数量</p>
				</div>
				<div class="in_item">
					<u class="in_item_u">0</u>
					<p class="in_item_p">退单数量</p>
				</div>
			</div>
		</div>
    	<div class="con_rightbox">
	    	<h1 class="in_title">
	    		财务概况
	    		<a class="in_title_date" href="javascript:;">今日</a>
	    		<a class="in_title_date" href="javascript:;">昨日</a>
	    		<a class="in_title_date" href="javascript:;">本月</a>
	    	</h1>
			<div class="in_box">
				<div class="in_item">
					<u class="in_item_u">8000</u>
					<p class="in_item_p">销售总额</p>
				</div>
				<div class="in_item">
					<u class="in_item_u">80</u>
					<p class="in_item_p">平均单价</p>
				</div>
			</div>
		</div>
    	<div class="con_rightbox">
	    	<h1 class="in_title">消息动态</h1>
			<ul class="in_boxt">
				<li class="in_box_line">
					<p class="btn_n">未读</p>
					<p>为神人民我家定损单这么少</p>
					<p>5分钟前</p>
				</li>
				<li class="in_box_line">
					<p class="btn_y">未读</p>
					<p>为神人民我家定损单这么少</p>
					<p>5分钟前</p>
				</li>
				<li class="in_box_line">
					<p class="btn_request">未读</p>
					<p>为神人民我家定损单这么少</p>
					<p>5分钟前</p>
				</li>
			</ul>
		</div>
    </div>
    <!-- 广告管理 -->
    <div class="con_right advertisment" style="display: none;">
		<h1 class="in_title">消息动态</h1>
		<label class="title">主广告位</label>
		<div class="in_pry1box">
			<div class="in_pry1_item">
				<div class="pic_pic">
					<img src="img/pic.jpg" width="100%">	
				</div>
				<input type="text" class="address" placeholder="请输入目标地址">
				<p class="btn_wh">提交修改</p>
				<p class="btn_ws">删除</p>
			</div>
			<div class="in_pry1_item">
				<div class="pic_pic">
					<img src="img/pic.jpg" width="100%">	
				</div>
				<input type="text" class="address" placeholder="请输入目标地址">
				<p class="btn_wh">提交修改</p>
				<p class="btn_ws">删除</p>
			</div>
			<div class="in_pry1_item">
				<div class="pic_pic">
					<img src="img/pic.jpg" width="100%">	
				</div>
				<input type="text" class="address" placeholder="请输入目标地址">
				<p class="btn_wh">提交修改</p>
				<p class="btn_ws">删除</p>
			</div>
		</div>
		<label class="title">次广告位</label>
		<div class="in_pry2box">
			<ul class="in_pry2box_tab">
				<li class="in_pry2box_tab_1 in_pry2box_tabb" onclick="tabs(1)">2x2栏</li>
				<li class="in_pry2box_tab_0 in_pry2box_tabb" onclick="tabs(2)">单栏</li>
			</ul>
			<div class="in_pry2box_content">
				<div class="in_pry2box_content_show1">
					<div class="slowlists1">
						<div class="in_pry1_item">
							<div class="pic_pic">
								<img src="img/pic.jpg" width="100%">	
							</div>
							<input type="text" class="address" placeholder="请输入目标地址">
						</div>
						<div class="in_pry1_item">
							<div class="pic_pic">
								<img src="img/pic.jpg" width="100%">	
							</div>
							<input type="text" class="address" placeholder="请输入目标地址">
						</div>
					</div>
					</br>
					<div class="slowlists2">
						<div class="in_pry1_item">
							<div class="pic_pic">
								<img src="img/pic.jpg" width="100%">	
							</div>
							<input type="text" class="address" placeholder="请输入目标地址">
						</div>
						<div class="in_pry1_item">
							<div class="pic_pic">
								<img src="img/pic.jpg" width="100%">	
							</div>
							<input type="text" class="address" placeholder="请输入目标地址">
						</div>
					</div>
				</div>
				<div class="in_pry2box_content_show2">
					<div class="in_pry1_item">
						<div class="pic_pic_big">
							<img src="img/pic.jpg" width="100%">	
						</div>
						<input type="text" class="address_big" placeholder="请输入目标地址">
					</div>
				</div>
			</div>
			<div class="in_pry1_submit">提交修改</div>
		</div>
	</div>
	<!-- 运动品类 -->
	<div class="con_right  sportStyle" style="display: none;">
		<h1 class="in_title">运动品类</h1>
		<a href="javascript:;" class="addsport">新增</a>
	</div>
	<!-- 运动品类新增 -->
	<div class="con_right  sportStyle">
		<h1 class="in_title">销售分类</h1>
		<div class="sportadd">
			<span class="itemnane">分类名称</span>
			<input type="text" value="足球" class="iptstyle">
		</div>
		<a href="javascript:;" class="addsport">新增</a>
	</div>
</div>
<script type="text/javascript">
	$('.menu_msg').click(function(){
		$(this).siblings('.menulist_u').slideToggle()
	})
	function tabs(e){
		if(e==1){
			$('.in_pry2box_content_show1').show().siblings().hide()
		}else{
			$('.in_pry2box_content_show2').show().siblings().hide()
		}
	}
	$('.in_pry2box_tab li').click(function(){
		$(this).removeClass('in_pry2box_tab_0').addClass('in_pry2box_tab_1').siblings('li').removeClass('in_pry2box_tab_1').addClass('in_pry2box_tab_0')
	})
</script>
</body>
</html>